/* custom css */
@import url('http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800');


html {
	height: 100%;
}

body {
	height: 100%;
	background-color: black;
}

h1, 
h2,
h3,
h4 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

h2 {
	text-transform: uppercase;
	font-size: 2.5em;
}

h1 {
	font-size: 55px;
}


/* Navigation styling -------- */

.navbar-custom {
	top: 0px;
	background-color: transparent;
	color: white;
	border-radius: 0px;
	margin-bottom:0px;
}

.background-image {
	margin-top: -168px;
}

.navbar a {
	color: white;
	font-size: 1.3em;
	font-weight: 300;
	margin-top: 20px;
}

.nav>li>a:hover {
	background-color:transparent;
	color:white;
	border: solid 2px transparent;
}

#software-hover a:hover {
	background-image: url(img/stars_195.jpg);
}

#lifecycle-hover a:hover {
	background-image: url(img/stars_160.jpg);
}

#thermal-hover a:hover {
	background-image: url(img/stars_151.jpg);
}


.nav>li>a {
	border: solid 2px white;
	margin-right: 5px;
}


.title-white {
	font-weight: 300;
	color: white;
}

.title-golden {
	font-weight: 800;
	color: #ff9933;
}


.navbar-header a:hover {
	text-decoration: none;
}



/* Jumbotron styleing -------- */

/*.jumbotron {
    margin-bottom: 0px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    height: 100%
}

*/



nav h4 {
	color: #ffcc66;
}

/* index overview */
#overview {
	background-color: white;
	text-align: center;
}

#overview img {
	display: block;
	margin: 0 auto;
}

#overview h2 {
	margin: 8% 0;
}

#overview .container {
	padding-bottom: 12%;
}



/* full image background styling -------- */

.height-full {
	height: 100vh;
}

/* spiral section --------- */

#lifecycle-overview {
	background-color: white;
}

#lifecycle-overview h2 {
	margin-top: 8%;T
}

#inner {
  	position: relative;
    height: 700px;
    margin: 1% auto 0 auto;
    width: 700px;
}

#lifecycle-overview .image-block {
	padding-top: 0px;
	margin-bottom: 10px;
}

.vertical-align {
    display: flex;
    align-items: center;
}

 @media (min-width : 1200px) {
 		div.rotate {
 			height: 320px;
 		}
    }

    /* Medium Devices, Desktops */
    @media (min-width : 1500px) {
    	div.rotate {
 			height: 370px;
 		}
    }

div.rotate {
  margin-left: 300px;
  position: absolute;
  transform-origin: bottom center;
  width: 100px;
}

.arrow {
  position: absolute;
  background: white;
  width: 20px;
  height: 5px;
  -webkit-transform-origin: 0% 50%;
     -moz-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
}

.arrow:after {
  display: block;
  content:'';
  border-top: 7px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 14px solid white;
  -webkit-transform: translate(20px, -5px);
     -moz-transform: translate(20px, -5px);
          transform: translate(20px, -5px);
}

.icon-title {
	margin-top: 10px;
	color: white;
}

.icon-title h4 {
	width: 140px;
	margin-left: -20px;
	text-align: center;
}

a.icon-title {
	margin-top: 10px;
}


.arrow1 {
	transform: rotate(25deg);
	padding-top: 50px;
}

.program-rotate { 
	transform: rotate(40deg); 
}

.program-icon {
	transform: rotate(-40deg);
}

.arrow2 {
	transform: rotate(63deg);
	padding-top: 50px
}

.design-rotate { 
	transform: rotate(80deg); 
}

.design-icon {
	transform: rotate(-80deg);
}

.arrow3 {
	transform: rotate(106deg);
	padding-top: 70px;
}

.development-rotate {
	transform: rotate(120deg);
}

.development-icon {
	transform: rotate(-120deg);
}

.arrow4 {
	transform: rotate(145deg);
	padding-top: 95px;
}

.deployment-rotate {
	transform: rotate(160deg);
}

.deployment-icon {
	transform: rotate(-160deg);
}

.arrow5 {
	transform: rotate(188deg);
	padding-top: 85px;
}

.orbit-rotate {
	transform: rotate(200deg);
}

.orbit-icon {
	transform: rotate(-200deg);
}

.arrow6 {
	transform: rotate(227deg);
	padding-top: 80px;
}

.propellant-rotate {
	transform: rotate(240deg);
}

.propellant-icon {
	transform: rotate(-240deg);
}

.arrow7 {
	transform: rotate(269deg);
	padding-top: 75px;
}

.eol-rotate {
	transform: rotate(280deg);
}

.eol-icon {
	transform: rotate(-280deg);
}

.legal-rotate {
	transform: rotate(320deg);
}

.legal-icon {
	transform: rotate(-320deg);
}




/* experience section ------- */


#experience {
	margin-bottom: 0px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 360px;
}

#experience .container {
	padding: 150px 0px;
}

#experience .col-md-8 {
	display: block;
	margin-left: auto;
	margin-right: auto;
	float: none;
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
  	text-align: center;
  	padding: 0px 25px;
}

#experience .col-md-8 > h3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
  	color: #ffcc66;
  	line-height: 150%;
}

/* expertise section styling -------- */


#expertise {
	padding-bottom: 10%;
	background-color:white;
}

#bold {
	color: #ff9933;
	font-weight: 800;
}

#expertise h3 {
	font-family: 'Open-Sans', sans-serif;
	font-weight: 400;
}

.about-row {
	margin-bottom: 15px;
}

.row {
	margin-left: -5px;
	margin-right: -5px;
}

.about-row
.about-section {
	padding: 0px 50px;
}

.image-block {
	display: block;
	width: 100px;
	height: 100px;
	background-size: 100%;
	float: left;
	padding-top: .5em;
}

.about-row
.content-block {
	width: auto;
	min-height: 100px;
	margin-left: 122px;
	margin-top: 33px;
}

.about-row
.content-block h3 {

}

ul  {
 padding-left:0;   
}

ul li  {
 list-style-position:inside;
 margin: 0 0 10px;
}



/* Footer -------- */

footer {
	margin-bottom: 0px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 540px;
}

h1.contact-title {
	margin-top: 20%;
	font-size: 75px;
	text-align: center;
	margin-bottom: 5%;

}


footer .subtitle {
	color: #ffcc66;
	font-style: italic;
	font-size: 1.5em;
}

.contact-info {
	color: white;
	padding-bottom: 15px;
}

.custom-button {
	border: 2px solid;
	border-color: #ffcc66;
}



/* Software page */

#software-intro h1 {
	padding-top: 20%;
	text-transform: uppercase;
	font-weight: 500;
	text-align: center;
	font-size: 75px;
}

#software-overview {
	background-color: white;
}

#software-overview h3 {
	text-align: center;
}

/* Lifecycle page */

#lifecycle-overview > h1 {
	padding-top: 25%;
	text-transform: uppercase;
	font-weight: 500;
	text-align: center;
	font-size: 75px;
	position: absolute;

}

/* Thermal Page */

#thermal-overview {
	background-color: white;
}

#thermal-intro > h1 {
	padding-top: 25%;
	text-transform: uppercase;
	font-weight: 500;
	text-align: center;
	font-size: 75px;
	margin-left: 150px;
}

#thermal-overview img {
	margin: 0px auto;
}



#thermal-overview .subpage-title {
	margin-bottom: 5%;
}

/* general subpage css */

.subpage-title {
	margin-top: 10%;
	margin-bottom: 7%;
	text-transform: uppercase;
	font-size: 2.5em;
	text-align: center;
}

#expertise .subpage-title {
	margin-top: 10%;
	margin-bottom: 10%;
	text-transform: uppercase;
	font-size: 2.5em;
	text-align: center;
}

ul.list {
	font-size: 1.3em;
	font-weight: 300;
}

.we-offer {
	margin-bottom: 5%
}

h2.img-title {
	font-size: 1.75em;
	margin-top: 15%;
	margin-bottom: 4%;
}

h3.img-subtitle {
	font-size: 1.25em;
	font-weight: 600;
	margin-bottom: 25%;
}

.lead {
	font-size: 1.5em;
}

div.bottom-row {
	margin-bottom: 20%
}
/* Word Wrap -------- */
.word-wrap { 
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}

/* Clear fix -------- */
.group:after {
  content: "";
  display: table;
  clear: both;
}

.img-responsive {
	max-width: 100%;
	height: auto;
}

.container #unused {
	display: none;
}

.empty-space {
	display: block;
	width: 100%;
	height: 100%;
	background-size: 100%;
}

