/* custom css */


#spiral {
	width: 100%;
	height: 1300px;
}


#inner {
  	width: 0%;
  	margin: 0 auto;
  	text-align: center;
}


div.rotate {
  height: 320px;
  position: absolute;
  transform-origin: bottom center;
  width: 100px;
}

.image-block {
	display: block;
	width: 100px;
	height: 100px;
	background-size: 100%;
	/* just to make it circular */
	background-color: blue;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	font-size: 3em;
	color:white;
	text-align: center;
}

.arrow {
  position: absolute;
  background: darkblue;
  width: 20px;
  height: 5px;
  -webkit-transform-origin: 0% 50%;
     -moz-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
}

.arrow:after {
  display: block;
  content:'';
  border-top: 7px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 14px solid darkblue;
  -webkit-transform: translate(20px, -5px);
     -moz-transform: translate(20px, -5px);
          transform: translate(20px, -5px);
}

.icon-title {
	font-family: 'Open Sans', sans-serif;
	margin-top: 10px;
	color: black;
}

.icon-title h4 {
	width: 140px;
	margin-left: -20px;
}

a.icon-title {
	margin-top: 10px;
}


.arrow1 {
	transform: rotate(25deg);
	padding-top: 50px;
}

.program-rotate { 
	transform: rotate(40deg); 
}

.program-icon {
	transform: rotate(-40deg);
}

.arrow2 {
	transform: rotate(63deg);
	padding-top: 50px
}

.design-rotate { 
	transform: rotate(80deg); 
}

.design-icon {
	transform: rotate(-80deg);
}

.arrow3 {
	transform: rotate(106deg);
	padding-top: 70px;
}

.development-rotate {
	transform: rotate(120deg);
}

.development-icon {
	transform: rotate(-120deg);
}

.arrow4 {
	transform: rotate(145deg);
	padding-top: 95px;
}

.deployment-rotate {
	transform: rotate(160deg);
}

.deployment-icon {
	transform: rotate(-160deg);
}

.arrow5 {
	transform: rotate(188deg);
	padding-top: 85px;
}

.orbit-rotate {
	transform: rotate(200deg);
}

.orbit-icon {
	transform: rotate(-200deg);
}

.arrow6 {
	transform: rotate(227deg);
	padding-top: 80px;
}

.eol-rotate {
	transform: rotate(240deg);
}

.eol-icon {
	transform: rotate(-240deg);
}

.arrow7 {
	transform: rotate(269deg);
	padding-top: 75px;
}

.legal-rotate {
	transform: rotate(280deg);
}

.legal-icon {
	transform: rotate(-280deg);
}